USE [LabStockAI]
GO
/****** Object:  Table [dbo].[DemandForecasts]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemandForecasts](
	[ForecastId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplyId] [int] NOT NULL,
	[ForecastStartDate] [date] NOT NULL,
	[ForecastEndDate] [date] NOT NULL,
	[PredictedQuantity] [decimal](12, 2) NOT NULL,
	[StockoutRisk] [nvarchar](20) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[GeneratedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DemandForecasts] PRIMARY KEY CLUSTERED 
(
	[ForecastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplyId] [int] NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ReferenceId] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabSupplies]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabSupplies](
	[SupplyId] [int] IDENTITY(1,1) NOT NULL,
	[SupplyName] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Unit] [nvarchar](30) NOT NULL,
	[QuantityOnHand] [int] NOT NULL,
	[ReorderPoint] [int] NOT NULL,
	[SafetyStock] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[SupplierId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LabSupplies] PRIMARY KEY CLUSTERED 
(
	[SupplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderItems]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderItems](
	[PurchaseOrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[SupplyId] [int] NOT NULL,
	[QuantityOrdered] [int] NOT NULL,
	[QuantityReceived] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PurchaseOrderItems] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CreatedBy] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ExpectedDeliveryDate] [datetime2](7) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReorderRecommendations]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReorderRecommendations](
	[RecommendationId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplyId] [int] NOT NULL,
	[ForecastId] [bigint] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[PredictedDemand] [decimal](12, 2) NOT NULL,
	[SafetyStock] [int] NOT NULL,
	[PendingPurchaseQuantity] [int] NOT NULL,
	[RecommendedQuantity] [int] NOT NULL,
	[RiskLevel] [nvarchar](20) NOT NULL,
	[RecommendationReason] [nvarchar](1000) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReorderRecommendations] PRIMARY KEY CLUSTERED 
(
	[RecommendationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](256) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-08-2026 22:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DemandForecasts] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[LabSupplies] ADD  DEFAULT ((0)) FOR [QuantityOnHand]
GO
ALTER TABLE [dbo].[LabSupplies] ADD  DEFAULT ((0)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[LabSupplies] ADD  DEFAULT ((0)) FOR [SafetyStock]
GO
ALTER TABLE [dbo].[LabSupplies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LabSupplies] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PurchaseOrderItems] ADD  DEFAULT ((0)) FOR [QuantityReceived]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ReorderRecommendations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ReorderRecommendations] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DemandForecasts]  WITH CHECK ADD  CONSTRAINT [FK_DemandForecasts_Supply] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[LabSupplies] ([SupplyId])
GO
ALTER TABLE [dbo].[DemandForecasts] CHECK CONSTRAINT [FK_DemandForecasts_Supply]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Supply] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[LabSupplies] ([SupplyId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Supply]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_User]
GO
ALTER TABLE [dbo].[LabSupplies]  WITH CHECK ADD  CONSTRAINT [FK_LabSupplies_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[LabSupplies] CHECK CONSTRAINT [FK_LabSupplies_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderItems_Order] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_PurchaseOrderItems_Order]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderItems_Supply] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[LabSupplies] ([SupplyId])
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_PurchaseOrderItems_Supply]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Supplier]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_User]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_ReorderRecommendations_Forecast] FOREIGN KEY([ForecastId])
REFERENCES [dbo].[DemandForecasts] ([ForecastId])
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [FK_ReorderRecommendations_Forecast]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_ReorderRecommendations_Supply] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[LabSupplies] ([SupplyId])
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [FK_ReorderRecommendations_Supply]
GO
ALTER TABLE [dbo].[DemandForecasts]  WITH CHECK ADD  CONSTRAINT [CK_DemandForecasts_Dates] CHECK  (([ForecastEndDate]>=[ForecastStartDate]))
GO
ALTER TABLE [dbo].[DemandForecasts] CHECK CONSTRAINT [CK_DemandForecasts_Dates]
GO
ALTER TABLE [dbo].[DemandForecasts]  WITH CHECK ADD  CONSTRAINT [CK_DemandForecasts_Predicted] CHECK  (([PredictedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[DemandForecasts] CHECK CONSTRAINT [CK_DemandForecasts_Predicted]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Quantity]
GO
ALTER TABLE [dbo].[LabSupplies]  WITH CHECK ADD  CONSTRAINT [CK_LabSupplies_Quantity] CHECK  (([QuantityOnHand]>=(0)))
GO
ALTER TABLE [dbo].[LabSupplies] CHECK CONSTRAINT [CK_LabSupplies_Quantity]
GO
ALTER TABLE [dbo].[LabSupplies]  WITH CHECK ADD  CONSTRAINT [CK_LabSupplies_Reorder] CHECK  (([ReorderPoint]>=(0)))
GO
ALTER TABLE [dbo].[LabSupplies] CHECK CONSTRAINT [CK_LabSupplies_Reorder]
GO
ALTER TABLE [dbo].[LabSupplies]  WITH CHECK ADD  CONSTRAINT [CK_LabSupplies_Safety] CHECK  (([SafetyStock]>=(0)))
GO
ALTER TABLE [dbo].[LabSupplies] CHECK CONSTRAINT [CK_LabSupplies_Safety]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderItems_Ordered] CHECK  (([QuantityOrdered]>(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [CK_PurchaseOrderItems_Ordered]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderItems_Price] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [CK_PurchaseOrderItems_Price]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderItems_Received] CHECK  (([QuantityReceived]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [CK_PurchaseOrderItems_Received]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderItems_ReceivedLimit] CHECK  (([QuantityReceived]<=[QuantityOrdered]))
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [CK_PurchaseOrderItems_ReceivedLimit]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_ReorderRecommendations_Current] CHECK  (([CurrentQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [CK_ReorderRecommendations_Current]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_ReorderRecommendations_Demand] CHECK  (([PredictedDemand]>=(0)))
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [CK_ReorderRecommendations_Demand]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_ReorderRecommendations_Pending] CHECK  (([PendingPurchaseQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [CK_ReorderRecommendations_Pending]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_ReorderRecommendations_Recommended] CHECK  (([RecommendedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [CK_ReorderRecommendations_Recommended]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_ReorderRecommendations_Safety] CHECK  (([SafetyStock]>=(0)))
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [CK_ReorderRecommendations_Safety]
GO
